$fill-color: #1EEA00;
$border-color: #757575;

.stepper-horizontal {
  display: table;
  width: 100%;

  .step {
    display: table-cell;
    position: relative;
    padding: 20px 24px;

    &:last-child .step-bar-left {
      display: none;
    }

    .step-circle {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      line-height: 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      border: 2px solid $border-color;
    }

    &.editing {
      .step-circle {
        background-color: $fill-color;
        border-color: $border-color;
        color: $fill-color;
      }

    }

    .step-bar-left {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid $border-color;
      width: calc(100% - 25%);
      z-index: -1;
      transform: translate(16%, -50%);
    }
  }
}

#container-form {
  height: 100%;

  .form-grid {
    padding: 40px 0px;

    .number-phone {
      border-top: 1px solid $fill-color;
      padding: 0;
    }

    .text-gray {
      color: $border-color;
    }

  }
}